.hero-image {
  background: url("../images/1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.right-side {
  display: table;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  color: white;
  font: 14px Arial, Sans-Serif;
  background: rgba(0, 0, 0, 0.5); /* fallback color*/
}
.nav {
  background: rgb(0, 0, 0); /* fallback color*/
  padding: 10px 15px;
}
.login {
  float: right;
  font-size: 11px;
}
ul {
  text-align: center;
  background-color: #c95f08;
  padding-bottom: 4px;
}
li {
  display: inline;
  font-size: 11px;
  padding: 90px;
}
h2 {
  font-size: 14px;
  font-weight: bold;
}
.info {
  padding: 15px;
}
p {
  font-size: 11px;
}
h3 {
  display: inline;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
}
img {
  position: relative;
  float: left;
  border: 1px solid #c95f08;
  display: inline;
  height: 150px;
  width: 200px;
}
.image {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 0em;
  padding-right: 20px;
}
.footer {
  position: fixed;
  bottom:0;
  padding-top: 10px;
  padding-bottom: 10px;
}
